.body
{
    background: url(/imagem/fundo.jpg);
    background: #5a8fc0
}



.content-site
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-site img
{
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #fff;
}

.footer-site
{
    background-color: #575555;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.footer-site .row
{
    background-color: #ffffff;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}
.footer-site p
{
    text-align: center;
}

p
{
    text-indent: 50px;
    text-align: justify;
}
.content-site .row
{
    padding: 20px;
    margin: 3px;
    text-align: justify;
}

.btn
{
    text-indent: 0px;
    padding: 10px;
    font-style: italic;
}


/*  ---------------------------------------------------------------------------------------------------------------------------------------------    */

/*                                                          Formatação do site                                                                      */

/* barra de navegação */

.bg-dark{
    background: #0C154A !important;
}
.navbar-nav .nav-link {
    color: #D9D9D9 !important;
}
.active{
    font-weight: bolder;
    font-style: italic;
}


.dropdown-menu
{
    background: #101d66 !important;
}

.dropdown-item
{
    color: #fff;
}

/* ===========================      Formatação Página       ============================ */ 

.container h2 
{
    color: #111E6C;
    padding: 3px;
    margin-top: 40px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: italic;
}

#title 
{
    color: #080E33;
    padding: 3px;
    margin-top: 40px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bolder;
}

.container hr
{
    background: #0C154A;
    margin: 40px;
}

/* titulo pagina */

.header-site h1 
{
    color: #FFF;                                  /* Cor da fonte */
    line-height: 100px;                             /* Altura da linha */
    font-size: 60px;                                /* Tamanho da fonte */
    margin-top: 0;  
    margin-bottom: 80px;
    text-transform: uppercase;                      /* Deixar o texto em maiusculo */
    text-shadow: 2px -2px 5px #042844;            /* horizontal vertical blur cor */ 
    transition: font-size .2s;
}

.header-site h1:hover 
{
    font-size: 100px /* tamnho da fonte */
} 

.header-site p
{
    font-size: 40px;
    text-transform: uppercase;                      /* Deixar o texto em maiusculo */
    text-shadow: 2px -2px 5px #042844;            /* horizontal vertical blur cor */ 
}

/* ----------------------------------------------------------------------------------- */

.retrato 
{
    margin: 10px;    
    height: 260px;
    width: 240px; 
    float: left; 
    transition: border-radius 2s;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 5px;
}
figure figcaption 
{
    text-align: left;
    margin-top: 20px;
    opacity: 1;
    top : 0px ;
    background-color: rgba(5, 5, 5, 0.4);
    color: white ;
    width: 80% ;
    height: 100% ;
    padding: 3px ;
    text-indent: 0px;
    box-sizing: border-box ;
}