.body
{
    background: url(/imagem/fundo.jpg);
    background: #5a8fc0
}

.header-site
{
    background-image: url(/images_fundo/apple.1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   /* quando move o scroll a imagem vai ficar fixa */
    color: #fff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.img-site 
{
    background-image: url(/images_fundo/ibm_pc.1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #fff;
}


